.home-front-sec {
    width: 100%;
    height: 100vh;
    padding: 0;
    background: #F9FAFF;
    position: relative;
    overflow: hidden;


    .home-front-sec-slider {
        z-index: 10;
    }
}





.home-front-sec-slider {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.home-front-sec-slide {
    width: 100%;

}

.home-front-sec-slide__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.home-front-sec-slide__container {
    width: 1217px;
    margin: 0 auto;
    height: 100%;
}

.front-sec-slide-1 {
    overflow: hidden;

    .home-front-sec-slide__container {
        padding-top: 158px;
    }
}

.front-sec-slide-1__text-wrapper {
    max-width: 710px;
    margin: 0 auto;
}

.front-sec-slide-1__title {
    text-align: center;
    color: #121926;

    text-align: center;
    font-family: $titleFont;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    /* 120% */
    letter-spacing: -1.2px;
}

.front-sec-slide-1__subtitle {
    color: #4B5565;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.front-sec-slide-1__btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.front-sec-slide-2 {
    .home-front-sec-slide__container {
        display: flex;
        align-items: center;
        position: relative;
    }
}

.front-sec-slide-2__ar-down {
    position: fixed;
    width: 242px;
    right: calc(50% - 610px);
    padding-bottom: 80px;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transition: all ease 0.5s;

}

.front-sec-slide-2__ar-down-img {
    width: 100%;
    display: block;
}

.front-sec-slide-2__ar-down_active {
    opacity: 1;
}

.front-sec-slide-2__text-wrapper {
    width: 400px;
    padding: 0 35px;
}

.front-sec-slide__title {
    color: #121926;
    font-family: $titleFont;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    /* 120% */
    letter-spacing: -1.2px;
}

.front-sec-slide__title-icon {
    display: inline-block;
    width: 56px;

    img {
        width: 100%;
        margin-bottom: -10px;
        display: inline-block;
    }
}

.front-sec-slide__text {
    margin-top: 32px;
    color: #364152;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    opacity: 0;

    transition: all ease 0.5s;
    transform: translateY(30px);
    // transition-delay: 0.8s;

}


.front-sec-slide-3 {
    .home-front-sec-slide__container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.front-sec-slide-3__text-wrapper {
    width: 400px;
    padding: 0 30px;
    padding-top: 94px;
}



.swiper-slide-active {
    .front-sec-slide__text {
        opacity: 1;
        transform: translateY(0);
    }

    // .tax-notification {
    //     transform: scale(1);
    //     opacity: 1;
    // }

}

.tax-notification {
    border-radius: 21.6px;
    background: #EFEFF1;
    padding: 13px 12px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;

    transform: scale(0.8);
    transition: all ease 0.2s;


    opacity: 0;
}

.tax-notification_activ {
    transform: scale(1);

    opacity: 1;
}

.tax-notification__icon-wrapper {
    border-radius: 7.65px;
    border: 1px solid #CDD5DF;
    width: 35px;
    height: 35px;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.tax-notification__text {
    padding-left: 10px;
    width: calc(100% - 35px);
}

.tax-notification__title {
    color: #000;
    font-size: 13.5px;
    font-style: normal;
    font-weight: 590;
    line-height: 18px;
    /* 133.333% */
    letter-spacing: -0.207px;
}

.tax-notification__subtitle {
    font-size: 13.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 133.333% */
    letter-spacing: -0.207px;
    color: #000;
}

.tax-notification__time {
    position: absolute;
    top: 12px;
    right: 20px;
    color: rgba(127, 127, 127, 0.50);
    font-size: 11.7px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 153.846% */
}


.front-sec-slide__btn-wrapper {
    // margin-top: 56px;

    height: 100px;
    padding-bottom: 40px;
}

.front-sec-slide__btn-btn {
    padding: 0px 22px;
    color: #121926;
    cursor: pointer;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    background: #80EAAF;
    border-radius: 100px;
    display: inline-flex;
    line-height: 28px;
    height: 0;
    align-items: center;

    height: 60px;
    opacity: 0;
    transition: all ease 0.5s;
    transform: translateY(30px);
    transition-delay: 0.5s;

}

.front-sec-slide__btn-btn_activ {
    .front-sec-slide__btn-btn {
        opacity: 1;
        transform: translateY(0px);
    }


}



.home-front-sec__video-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    left: 0;
    top: 0;
    justify-content: center;
    pointer-events: none;
    overflow: hidden;
}

.home-front-sec__video-element-1 {
    width: 1250px;
    position: absolute;
    bottom: 0;
    height: 350px;
    transform: translateY(350px);
    opacity: 0;
    transition: all ease 0.7s;

    z-index: 1;

    video {
        width: 100%;
        height: 100%;
        display: block;
    }

}




.home-front-sec__video-element-1_activ {
    transform: translateY(0);
    opacity: 1;

}

.home-front-sec__video-element-2 {
    width: 982px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 600px;
    transform: translateY(600px);
    opacity: 0;
    transition: all ease 0.7s;
    z-index: 2;

    video {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.home-front-sec__video-element-2_activ {
    transform: translateY(0);
    opacity: 1;
}

.home-front-sec__video-element-2_activ-fixed {
    transform: translateY(0);
    opacity: 1;
}



.home-front-sec__video-element-3 {
    width: 982px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 600px;
    z-index: 10;
    transform: translateY(0);
    opacity: 0;
    z-index: 3;


    video {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.home-front-sec__video-element-3_hide {
    transform: translateY(600px);
    transition: all ease 0.7s;
    opacity: 0;
}

.home-front-sec__video-element-3_activ-fixed {
    transform: translateY(0);
    opacity: 1;
}

.home-front-sec__video-element-4 {
    width: 982px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 550px;
    transform: translateY(550px);
    opacity: 0;
    transition: all ease 0.7s;
    z-index: 4;

    video {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.home-front-sec__video-element-4_activ {
    transform: translateY(0);
    opacity: 1;
    transition: all ease 0.7s;
}

.home-front-sec__video-element-4_activ-fixed {
    transform: translateY(0);

    opacity: 1;
}


.home-front-sec__video-element-5 {
    width: 982px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 550px;
    transform: translateY(0);
    opacity: 0;
    // transition: all ease 0.7s;
    z-index: 5;

    video {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.home-front-sec__video-element-5_activ-fixed {
    transform: translateY(0px);
    opacity: 1;
}

.home-front-sec__video-element-5_activ {
    transform: translateY(0);
    opacity: 1;
}


.home-front-sec__video-element-6 {
    width: 982px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 550px;
    transform: translateY(0);
    opacity: 0;
    // transition: all ease 0.7s;
    z-index: 6;

    video {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.home-front-sec__video-element-6_activ-fixed {
    transform: translateY(0px);
    opacity: 1;
}

.home-front-sec__video-element-6_activ {
    transform: translateY(0);
    opacity: 1;
}


.home-front-sec__phone-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    pointer-events: none;


}

.home-front-sec__phone-img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.home-front-sec__phone-header {
    position: absolute;
    width: calc(100% - 20px);
    z-index: 3;
    left: 10px;
    top: 15px;

    img {
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        transition: all ease 0.3s;

    }
}

.home-front-sec__phone-header_white {
    .home-front-sec__phone-header-w {
        opacity: 1;
    }

    .home-front-sec__phone-header-b {
        opacity: 0;
    }
}

.home-front-sec__phone-header-w {
    opacity: 0;
}

.home-front-sec__phone-header-b {
    opacity: 1;
}

.home-front-sec__phone-camera {
    position: absolute;
    z-index: 4;
    width: 94px;
    top: 25px;
    left: calc(50% - 47px);
}

.home-front-sec__phone-camera-img {
    width: 100%;
    display: block;
}

.home-front-sec__phone-home {
    position: absolute;
    width: calc(100% - 20px);
    z-index: 3;
    left: 10px;
    bottom: 15px;

    img {
        width: 100%;
        display: block;
    }
}

.home-front-sec__phone {
    position: absolute;
    width: 336px;
    height: 685px;
    top: 100%;

    opacity: 0;
}

.home-front-sec__phone_first-load {
    top: calc(100% - 342px);
    transition: all ease 0.7s;
    opacity: 1;
}

.home-front-sec__phone_activs {
    top: calc(50% - 342px);
    transition: all ease 0.7s;
    opacity: 1;
}

.home-front-sec__phone-videos {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;



}



.home-front-sec__phone-video-element {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px 17px;
    opacity: 0;

    video {
        border-radius: 42px;
        width: 100%;
        height: auto;
    }
}

.videoPhone0-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 42px;
}

.activ-phone-current-video {
    opacity: 1;
}

.fixed-phone-video {
    opacity: 1;
}

.pve-0 {
    z-index: 1;
}

.pve-1 {
    z-index: 2;
}

.pve-2 {
    z-index: 3;
}

.pve-3 {
    z-index: 4;
}

.pve-4 {
    z-index: 5;
}

.pve-5 {
    z-index: 6;
}

.pve-6 {
    z-index: 7;
}

.home-front-sec__dop-anim-elements-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    height: 100%;
}

.home-front-sec__sun {
    top: -404px;
    right: -292px;
    width: 404px;
    position: absolute;
    transition: all ease 0.7s;
    animation: spin 60s linear infinite;
    opacity: 0;

    svg {
        display: block;
        width: 100%;
        height: auto;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.home-front-sec__sun_activ {
    top: -150px;
    opacity: 1;
}


.home-front-sec__cloud-wrapper {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 95px;
    left: 0;
    top: 522px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.home-front-sec__cloud {
    position: absolute;
    width: 300px;
    background: #E0EAFF;
    height: 3px;

}

.cl1 {
    top: 0;
    left: -350px;
    animation: moveCloud 15s infinite linear;
    animation-delay: 0s;
    /* Начинает сразу */
}

/* Позиция начальная и конечная точки анимации */
@keyframes moveCloud {
    0% {
        left: -350px;
        /* Линия находится за левым краем */
    }

    100% {
        left: calc(100% + 150px);
        /* Линия уходит за правый край */
    }
}


.cl2 {

    left: -450px;
    animation: moveCloud2 15s infinite linear;
    animation-delay: 0s;
    /* Начинает сразу */
}

/* Позиция начальная и конечная точки анимации */
@keyframes moveCloud2 {
    0% {
        left: -450px;

    }

    100% {
        left: calc(100% + 250px);
        /* Линия уходит за правый край */
    }
}



.cl3 {
    bottom: 0;
    left: -300px;
    animation: moveCloud3 15s infinite linear;
    animation-delay: 0s;
    /* Начинает сразу */
}

/* Позиция начальная и конечная точки анимации */
@keyframes moveCloud3 {
    0% {
        left: -300px;

    }

    100% {
        left: calc(100% + 350px);
        /* Линия уходит за правый край */
    }
}

.home-front-sec_point-event-none {
    pointer-events: none;
}



.video-test-autoplay-hiden {
    position: absolute;
    z-index: 60;
    left: 0;
    top: 120px;
    display: flex;
    justify-content: center;
    width: 100%;

    video {
        width: 0px;
        height: 0px;
    }
}

.video-test-autoplay-hiden__title {
    background: #121926;
    color: #fff;
    display: inline-block;
    border-radius: 100px;
    padding: 10px;
}






.anim-phones-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    padding: 15px 17px;

}

.anim-phones-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 42px;
}

.anim-phones-wrapper__row {
    position: absolute;
    height: 700%;
    transition: all ease 1s;
    transform: translateY(0%);
    position: absolute;
    left: 0;
    z-index: 2;
    top: 0;
}

.anim-phones__element {
    width: 100%;
    height: calc(100% / 7);
    display: block;
}

.anim-phones__img-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.anim-phones__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.phone-anim-element-v1__tab-row {
    position: relative;
    width: 100%;
    height: 100%;
}

.phone-anim-element-v1__tab-row-phone-1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    opacity: 1;
}

.phone-anim-element-v1__tab-row-phone-2 {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    z-index: 2;

}

.phone-anim-element-v1__tab-row-phone-2-timeline-wrapper {
    width: 100%;
    height: 170px;
    position: relative;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__tab-row-phone-2-timeline-header-v1 {
    opacity: 1;
}

.phone-anim-element-v1__tab-row-phone-2-timeline-header-v2 {
    opacity: 0;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__tab-row-phone-2-timeline-header-v1,
.phone-anim-element-v1__tab-row-phone-2-timeline-header-v2 {
    width: 100%;
    display: block;
    position: absolute;
    left: 0;

    top: 0;
}

.phone-anim-element-v1__tab-row-phone-2-timeline-main-img {
    width: 100%;
    display: block;
}

.phone-anim-element-v1__tab-row-phone-2-timeline-italy-img {
    width: 100%;
    display: block;
    height: 45px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all ease 0.3s;
}



.phone-anim-element-v1__tab-row-phone-2_activ {

    .phone-anim-element-v1__tab-row-phone-2-timeline-italy-img {
        transition-delay: 0.3s;
        opacity: 1;
    }

    .phone-anim-element-v1__tab-row-phone-2-timeline-header-v1 {
        opacity: 1;
    }

    .phone-anim-element-v1__tab-row-phone-2-timeline-header-v2 {
        opacity: 1;
    }

    .phone-anim-element-v1__tab-row-phone-2-timeline-wrapper {
        padding-top: 45px;

    }
}


.phone-anim-element-v1__tab-row-phone-3 {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    // background: #000;
    overflow: hidden;
    z-index: 3;
}

.phone-anim-element-v1__tab-row-phone-3-header {
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.phone-anim-element-v1__tab-row-phone-3-header-img {
    width: 100%;
    display: block;
    opacity: 0;
    transition: all ease 0.2s;
}

.phone-anim-element-v1__tab-row-phone-3-header_activ {
    .phone-anim-element-v1__tab-row-phone-3-header-img {
        opacity: 1;
    }
}

.phone-anim-element-v1__tab-row-phone-3-body {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 47px;

    img {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.phone-anim-element-v1__tab-row-phone-3-body-img-v1 {
    width: 100%;
    display: block;
    opacity: 1;
    z-index: 1;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__tab-row-phone-3-body-img-v2 {
    width: 100%;
    display: block;
    opacity: 0;
    z-index: 2;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__tab-row-phone-3-body_activ {

    .phone-anim-element-v1__tab-row-phone-3-body-img-v2 {
        opacity: 1;
    }
}



.phone-anim-element-v1__tab-row-phone-4 {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    // background: #000;
    overflow: hidden;
    z-index: 4;
}

.phone-anim-element-v1__tab-row-phone-4-main-bg-image-container {
    position: relative;
    z-index: 1;
}

.phone-anim-element-v1__tab-row-phone-4-main-bg-image-container_activ {
    .phone-anim-element-v1__tab-row-phone-4-img-v2 {
        opacity: 1;
    }
}

.phone-anim-element-v1__tab-row-phone-4-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__tab-row-phone-4-img-v1 {
    opacity: 1;
    z-index: 1;
}

.phone-anim-element-v1__tab-row-phone-4-img-v2 {
    opacity: 0;
    z-index: 2;
}

.phone-anim-element-v1__tab-row-phone-4-num-container {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    width: auto;
    height: 20px;
}

.phone-anim-element-v1__tab-row-phone-4-num-col {
    width: auto;
    position: relative;
    left: 0;
    top: 0;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__tab-row-phone-4-num-element {
    width: auto;
    height: 20px;
    display: block;
}


.tab-row-phone-4-num_V1 {
    top: 222px;
    left: 36px;
}

.tab-row-phone-4-num_V2 {
    top: 222px;
    left: 123px;
}


.tab-row-phone-4-num_V3 {
    top: 222px;
    left: 195px;
}

.phone-anim-element-v1__tab-row-phone-4-num-container_activ {
    .phone-anim-element-v1__tab-row-phone-4-num-col {
        transform: translateY(-50%);
    }
}



.phone-anim-element-v1__tab-row-phone-5 {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    // background: #000;
    overflow: hidden;
    z-index: 5;
}

.phone-anim-element-v1__tab-row-phone-5-main-bg-image-container {
    position: relative;
    z-index: 1;
}

.phone-anim-element-v1__tab-row-phone-5-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__tab-row-phone-5-num-container {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    width: auto;
    height: 20px;
}

.phone-anim-element-v1__tab-row-phone-5-num-col {
    width: auto;
    position: relative;
    left: 0;
    top: 0;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__tab-row-phone-5-num-element {
    width: auto;
    height: 20px;
    display: block;
}


.tab-row-phone-5-num_V1 {
    top: 222px;
    left: 36px;
}

.tab-row-phone-5-num_V2 {
    top: 222px;
    left: 124px;
}

.phone-anim-element-v1__tab-row-phone-5-calendar {
    z-index: 3;
    width: 100%;
    position: absolute;
    bottom: -282px;
    left: 0;
    transition: all ease 0.5s;
}

.phone-anim-element-v1__tab-row-phone-5-calendar-img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__tab-row-phone-5-calendar-img-V2 {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.phone-anim-element-v1__tab-row-phone-5-num-container_activ {
    .phone-anim-element-v1__tab-row-phone-5-num-col {
        transform: translateY(-50%);
    }
}

.phone-anim-element-v1__tab-row-phone-5-calendar_activ {
    transform: translateY(-282px);

    .phone-anim-element-v1__tab-row-phone-5-calendar-img-V1 {
        opacity: 1;
        transition: all ease 0.2s;
        transition-delay: 0s;
    }
}

.phone-anim-element-v1__tab-row-phone-5-calendar-img-V1 {
    transition: all ease 0.2s;
    transition-delay: 0.3s;
    opacity: 0;
}

.phone-anim-element-v1__tab-row-phone-5-calendar-img-V2_activ {
    opacity: 1;
}

.phone-anim-element-v1__tab-row-phone-6 {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    // background: #000;
    overflow: hidden;
    background: #000;
    z-index: 6;
}



.phone-anim-element-v1__tab-row-phone-6-main-bg-image-container {
    position: relative;
    z-index: 1;
}

.phone-anim-element-v1__tab-row-phone-6-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transition: all ease 0.5s;
}

.phone-anim-element-v1__tab-row-phone-6-hidden-img-wrapper {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 100%;
    transition: all ease 0.5s;
}

.phone-anim-element-v1__tab-row-phone-6-hidden-img {
    width: 100%;
    display: block;
}

.phone-anim-element-v1__tab-row-phone-6_activ {
    .phone-anim-element-v1__tab-row-phone-6-img {
        opacity: 0;
    }

    .phone-anim-element-v1__tab-row-phone-6-hidden-img-wrapper {
        transform: translateY(-100%);
    }
}


.front-sec-v2 {
    min-height: 100vh;
    background: #FAFAFA;
    opacity: 0;
    overflow: hidden;
    width: 100%;
}

.showFrontSec {
    opacity: 1;

    .fornt-sec-text-wrapper {
        opacity: 1;
    }

    .front-sec-v2__phone-main-wrapper {
        opacity: 1;
    }

    .front-sec-v2__video-wrapper-fixed {
        opacity: 1;
    }


}

.animFullLoad {
    .fornt-sec-text-wrapper {
        position: fixed;
    }

    .front-sec-v2__phone-main-wrapper {
        position: fixed;
    }
}

.home-front-sec-slide {
    height: 100vh;
}

.front-sec-v2__scroll-container {
    height: 1900vh;
}


.fornt-sec-text-wrapper {
    position: fixed;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    opacity: 0;
}

.front-sec-v2__phone-main-wrapper {
    position: fixed;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 1;
    z-index: 500;
}

.fornt-sec-text-wrapper__container {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.home-front-sec-slide {
    position: relative;
    left: 0;
    width: 100%;
    height: 100vh;
}



.home-front-sec__phone {
    opacity: 1;
    transition: all ease 0.7s;
}

.front-sec-v2__video-wrapper-fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
}

.home-front-sec__phone-ipad-cover {
    position: absolute;
    width: 336px;
    height: 685px;
    top: calc(100% - 342px);
    transition: all ease 0.7s;


}

.anim-phones__img-preload-first-load {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.phoneRightSide {
    .home-front-sec__phone {
        transform: translateY(0);
    }

    .anim-phones__img-preload-first-load {
        opacity: 0;
    }

}

.phoneLeftSide {
    .home-front-sec__phone {
        transform: translateY(0);
    }

    .anim-phones__img-preload-first-load {
        opacity: 0;
    }
}

.home-front-sec__phone {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    transform: translateY(-0);
    transition: all ease 0.3s;
}

.anim-phones__element-first-anim {
    .anim-phones__img-wrapper {
        position: relative;
    }
}

.phone-anim-element-v1 {
    position: relative;
}

.phone-anim-element-v1__counter-wrapper {
    position: absolute;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    left: 13px;
    top: 58px;
    line-height: 1;
}

.phone-anim-element-v1__counter-num-wrapper {
    overflow: hidden;
    width: 16px;
    height: 24px;
    overflow: hidden;
    position: relative;
}

.phone-anim-element-v1__counter-num-col {
    position: absolute;
    left: 0;
    top: 0;
    transition: all ease 0.3s;

    span {
        display: block;
    }
}

.phone-anim-element-v1__text-wrapper {
    position: absolute;
    left: 14px;
    font-size: 11px;
    line-height: 1.4;
    top: 170px;
    color: #fff;
    font-weight: 300;
    width: 220px;
    height: 70px;
    overflow: hidden;

}

.phone-anim-element-v1__text-col {
    width: 100%;
    height: 200%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all ease 0.3s;
}

.phone-anim-element-v1__text {
    height: 50%;
    overflow: hidden;
    width: 100%;
}

.phone-anim-element-v1__counter-wrapper_activ {
    .phone-anim-element-v1__counter-num-col {
        transform: translateY(-50%);
    }
}

.phone-anim-element-v1__text-wrapper_activ {
    .phone-anim-element-v1__text-col {
        transform: translateY(-50%);
    }
}

.front-sec-v2__example-window-height {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 0;
}













@media only screen and (max-width: 2550px) {
    .home-front-sec__video-element-1 {
        width: 62.5%;
        height: auto;
    }

    .home-front-sec__video-element-2 {
        width: 51%;
        height: auto;
    }

    .home-front-sec__video-element-3 {
        width: 51%;
        height: auto;
    }

    .home-front-sec__video-element-4 {
        width: 51%;
        height: auto;
    }

    .home-front-sec__video-element-5 {
        width: 51%;
        height: auto;
    }

    .home-front-sec__video-element-6 {
        width: 51%;
        height: auto;
    }
}


@media only screen and (max-width: 2550px) and (max-height: 850px) {
    // .front-sec-slide-1__title {
    //     font-size: 50px;
    // }

    .front-sec-slide-1__text-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .home-front-sec__cloud-wrapper {
        top: 400px;
    }

    .home-front-sec__phone {
        width: 254px;
        height: 518px;
    }

    .home-front-sec__phone_first-load {
        top: calc(100% - 259px);
    }

    .home-front-sec__phone-video-element {
        padding: 12px 14px;
        padding-top: 13px;

        video {
            border-radius: 30px;
        }
    }

    .home-front-sec__phone_activs {
        top: calc(50% - 259px + 40px);
    }

    .front-sec-slide-3__text-wrapper {
        padding-top: 40px;
    }

    .front-sec-slide-1__title {
        font-size: 50px;
        line-height: 1.3;
    }

    .front-sec-slide-1__subtitle {
        font-size: 18px;
        margin-top: 10px;
    }

    .front-sec-slide-1__btn-wrapper {
        margin-top: 30px;
    }

    .front-sec-slide__title {
        font-size: 50px;
        line-height: 1.3;
    }

    .front-sec-slide__text {
        margin-top: 20px;
        line-height: 1.5;
        font-size: 18px;
    }

    .front-sec-slide__btn-btn {
        font-size: 16px;
        height: 50px;
    }

    .front-sec-slide__btn-btn_activ {
        height: 100px;
    }


    .home-front-sec__phone-ipad-cover {
        width: 254px;
        height: 518px;
    }

    .anim-phones-wrapper {

        padding: 11px 13px;
    }

    .anim-phones-slider {
        border-radius: 35px;
    }




    .home-front-sec__phone-camera {
        // width: 70px;
        // left: calc(50% - 35px);
        // top: 22px;

        width: 65px;
        left: calc(50% - 32.5px);
        top: 21px;
    }

    .phone-anim-element-v1__counter-wrapper {
        left: 11px;
        top: 46px;
        font-size: 17px;
    }

    .phone-anim-element-v1__counter-num-wrapper {
        height: 17px;
    }

    .phone-anim-element-v1__tab-row-phone-2-timeline-wrapper {
        height: 128px;
    }

    .phone-anim-element-v1__tab-row-phone-2-timeline-italy-img {
        height: 35px;
    }

    .phone-anim-element-v1__tab-row-phone-2_activ .phone-anim-element-v1__tab-row-phone-2-timeline-wrapper {
        padding-top: 35px;
    }

    .phone-anim-element-v1__tab-row-phone-3-header {
        top: 11px;
    }

    .phone-anim-element-v1__tab-row-phone-4-num-element {
        height: 14.5px;
    }

    .phone-anim-element-v1__tab-row-phone-4-num-container {
        height: 14.5px;
    }

    .tab-row-phone-4-num_V1 {
        top: 168px;
        left: 28px;
    }

    .tab-row-phone-4-num_V2 {
        top: 168px;
        left: 95px;
    }

    .tab-row-phone-4-num_V3 {
        top: 168px;
        left: 148px;
    }

    .phone-anim-element-v1__tab-row-phone-5-calendar {
        bottom: -213px;
    }

    .phone-anim-element-v1__tab-row-phone-5-calendar_activ {
        transform: translateY(-213px);
    }

    .phone-anim-element-v1__tab-row-phone-5-num-container {
        height: 14.5px;
    }

    .phone-anim-element-v1__tab-row-phone-5-num-element {
        height: 14.5px;
    }

    .tab-row-phone-5-num_V1 {
        top: 168px;
        left: 29px;
    }

    .tab-row-phone-5-num_V2 {
        top: 168px;
        left: 95px;
    }

}








@media only screen and (max-width: 1250px) {
    .front-sec-slide-1 .home-front-sec-slide__container {
        padding-top: 298px;
    }

    .home-front-sec-slide__container {
        width: 746px;
    }


    .front-sec-slide-1__text-wrapper {
        width: 708px;
        max-width: 708px;
    }

    .home-front-sec__cloud-wrapper {
        top: 652px;
    }

    .home-front-sec__phone {
        width: 336px;
        height: 685px;
        right: calc(50% - 336px / 2);
    }

    .home-front-sec__phone_first-load {
        top: calc(100% - 462px);
    }

    .home-front-sec__phone-video-element {
        padding: 15px 17px;

        video {
            border-radius: 42px;
        }
    }

    .home-front-sec__phone_activs {
        top: calc(50% - 462px);
    }

    .front-sec-slide-3__text-wrapper {
        padding-top: 40px;
    }

    .front-sec-slide-1__title {
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px;
        /* 120% */
        letter-spacing: -1.2px;
    }

    .front-sec-slide-1__subtitle {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-top: 20px;
    }

    .front-sec-slide-1__btn-wrapper {
        margin-top: 48px;
    }

    .front-sec-slide__title {
        font-size: 60px;
        line-height: 1.3;
    }

    .front-sec-slide__text {
        margin-top: 32px;
        line-height: 1.5;
        font-size: 20px;
    }

    .front-sec-slide__btn-btn {
        font-size: 18px;
        height: 60px;
    }

    .front-sec-slide__btn-btn_activ {
        height: 100px;
    }




    .home-front-sec__video-element-1_activ {
        transform: translateY(30px);
    }

    .home-front-sec__cloud-wrapper {
        top: calc(100% - 500px);
    }

    .home-front-sec__phone-wrapper {
        width: 746px;
        margin: 0 auto;
        left: calc(50% - (746px / 2));
    }

    .home-front-sec__phone_activs {
        right: 0;
        top: calc(50% - 342px);
    }

    .home-front-sec__phone-left-order {
        right: calc(100% - 336px);
    }

    .front-sec-slide-2__text-wrapper {
        height: 682px;
        padding: 0 23px;
    }



    .front-sec-slide-3__text-wrapper {
        height: 682px;
        padding: 0 23px;
    }

    .fss-2 {
        .home-front-sec-slide__container {
            justify-content: flex-start;
        }
    }

    .fss-3 {
        .home-front-sec-slide__container {
            justify-content: flex-start;
        }
    }

    .fss-4 {
        .home-front-sec-slide__container {
            justify-content: flex-start;
        }
    }

    .fss-5 {
        .home-front-sec-slide__container {
            justify-content: flex-end;
        }
    }

    .fss-6 {
        .home-front-sec-slide__container {
            justify-content: flex-end;
        }
    }

    .fss-7 {
        .home-front-sec-slide__container {
            justify-content: flex-end;
        }
    }


    .home-front-sec__video-element-1 {
        width: 1260px;
        height: auto;
    }

    .home-front-sec__video-element-2 {
        width: 778px;
        height: auto;
    }

    .home-front-sec__video-element-3 {
        width: 778px;
        height: auto;
    }

    .home-front-sec__video-element-4 {
        width: 778px;
        height: auto;
    }

    .home-front-sec__video-element-5 {
        width: 778px;
        height: auto;
    }

    .home-front-sec__video-element-6 {
        width: 778px;
        height: auto;
    }

    .home-front-sec__phone-ipad-cover {
        width: 100%;
    }

    .home-front-sec__phone {
        position: absolute;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        right: calc(50% - 168px);
    }

    .phoneRightSide {

        .home-front-sec__phone {
            right: 0;
        }

    }

    .phoneLeftSide {
        .home-front-sec__phone {
            right: calc(100% - 336px);
        }


    }

    .front-sec-slide-3__text-wrapper {
        padding-top: 52px;
    }

    .front-sec-slide-2__ar-down {
        position: fixed;
        width: 180px;
        right: 20px;
        padding-bottom: 70px;
    }

}

@media only screen and (max-width: 1250px) and (max-height: 1100px) {
    .front-sec-slide-1 .home-front-sec-slide__container {
        padding-top: 175px;
    }

    .home-front-sec__video-element-1 {
        width: 1100px;
        height: auto;
    }

    .home-front-sec__video-element-2 {
        width: 578px;
        height: auto;
    }

    .home-front-sec__video-element-3 {
        width: 578px;
        height: auto;
    }

    .home-front-sec__video-element-4 {
        width: 578px;
        height: auto;
    }

    .home-front-sec__video-element-5 {
        width: 578px;
        height: auto;
    }

    .home-front-sec__video-element-6 {
        width: 578px;
        height: auto;
    }
}

@media only screen and (max-width: 1250px) and (max-height: 980px) {
    .front-sec-slide-1 .home-front-sec-slide__container {
        padding-top: 110px;
    }
}

@media only screen and (max-width: 1250px) and (max-height: 900px) {
    .front-sec-slide-1__btn-wrapper {
        margin-top: 30px;
    }

    .home-front-sec__phone {
        width: 254px;
        height: 518px;
        right: calc(50% - (254px / 2));
    }

    .home-front-sec__phone_first-load {

        top: calc(100% - 320px);
    }

    .home-front-sec__phone-video-element {
        padding: 12px 14px;
        padding-top: 13px;

        video {
            border-radius: 30px;
        }
    }

    .home-front-sec__phone_activs {
        right: 0;
        top: calc(50% - 254px);
    }

    .front-sec-slide-2__text-wrapper {

        height: 518px;
    }

    .front-sec-slide-3__text-wrapper {
        height: 518px;
    }

    .home-front-sec__phone-left-order {
        right: calc(100% - 254px);
    }

    .front-sec-slide__title {
        font-size: 50px;
    }

    .front-sec-slide__text {
        margin-top: 20px;
        font-size: 18px;
    }

    .front-sec-slide-1__title {
        font-size: 50px;
        line-height: 1.3;
    }

    .front-sec-slide-1__subtitle {
        font-size: 18px;
    }







    .home-front-sec__phone-camera {
        // width: 70px;
        // left: calc(50% - 35px);
        // top: 22px;

        width: 65px;
        left: calc(50% - 32.5px);
        top: 21px;
    }

    .phone-anim-element-v1__counter-wrapper {
        left: 11px;
        top: 46px;
        font-size: 17px;
    }

    .phone-anim-element-v1__counter-num-wrapper {
        height: 17px;
    }

    .phone-anim-element-v1__tab-row-phone-2-timeline-wrapper {
        height: 128px;
    }

    .phone-anim-element-v1__tab-row-phone-2-timeline-italy-img {
        height: 35px;
    }

    .phone-anim-element-v1__tab-row-phone-2_activ .phone-anim-element-v1__tab-row-phone-2-timeline-wrapper {
        padding-top: 35px;
    }

    .phone-anim-element-v1__tab-row-phone-3-header {
        top: 11px;
    }

    .phone-anim-element-v1__tab-row-phone-4-num-element {
        height: 14.5px;
    }

    .phone-anim-element-v1__tab-row-phone-4-num-container {
        height: 14.5px;
    }

    .tab-row-phone-4-num_V1 {
        top: 170px;
        left: 28px;
    }

    .tab-row-phone-4-num_V2 {
        top: 170px;
        left: 95px;
    }

    .tab-row-phone-4-num_V3 {
        top: 170px;
        left: 148px;
    }

    .phone-anim-element-v1__tab-row-phone-5-calendar {
        bottom: -213px;
    }

    .phone-anim-element-v1__tab-row-phone-5-calendar_activ {
        transform: translateY(-213px);
    }

    .phone-anim-element-v1__tab-row-phone-5-num-container {
        height: 14.5px;
    }

    .phone-anim-element-v1__tab-row-phone-5-num-element {
        height: 14.5px;
    }

    .tab-row-phone-5-num_V1 {
        top: 169px;
        left: 29px;
    }

    .tab-row-phone-5-num_V2 {
        top: 169px;
        left: 95px;
    }

    .anim-phones-slider {
        border-radius: 35px;
    }

    .anim-phones-wrapper {
        padding: 10px 12px;
    }

}


@media only screen and (max-width: 750px) {
    .home-front-sec__phone-wrapper {
        pointer-events: all;

    }

    .front-sec-v2__phone-main-wrapper {
        z-index: 5;
    }

    .home-front-sec__sun {
        width: 303px;
        top: -303px;
        right: -225px;
    }

    .home-front-sec__sun_activ {
        top: -100px;
    }

    .home-front-sec-slide__container {
        width: 343px;
    }

    .front-sec-slide-1__text-wrapper {
        width: 100%;
        max-width: 100%;
    }

    .front-sec-slide-1__title {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
    }

    .front-sec-slide-1__subtitle {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top: 12px;
    }

    .front-sec-slide-1__btn-wrapper {
        margin-top: 24px;
    }

    .front-sec-slide-1 .home-front-sec-slide__container {
        padding-top: 168px;
    }

    .home-front-sec__video-element-1 {
        width: 820px;
    }

    .home-front-sec__phone {
        width: 298px;
        height: 607px;
        right: auto;
    }

    .home-front-sec__phone_first-load {
        top: calc(100% - 362px);
    }

    .home-front-sec__phone_activs {
        right: auto;
        top: calc(80px);
    }

    .home-front-sec__phone-video-element {
        padding: 13px 15px;
    }

    .front-sec-slide__title {
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
    }

    .front-sec-slide__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top: 16px;
    }





    .front-sec-slide-tex .home-front-sec-slide__wrapper {
        display: none;
    }

    .home-front-sec-slider-mob-wrapper {
        position: absolute;
        z-index: 30;
        width: 100%;
        height: 300px;
        display: block;
        left: 0;
        bottom: 0;
        background: #fff;
        transition: all ease 0.6s;
        transform: translateY(300px);

    }

    .home-front-sec-slider-mob-wrapper_activ {
        transform: translateY(0);
    }

    .home-front-sec-slider-mob {
        height: 100%;
    }



    .home-front-sec-slide-mob__wrapper {
        height: 100%;
    }

    .home-front-sec-slide-mob__text-container {
        width: 343px;
        margin: 0 auto;
        padding-top: 25px;
        height: 100%;
    }



    .front-sec-slide__text {
        opacity: 0;
        transition-delay: 0.5s;
    }

    .front-sec-slide__btn-btn {
        padding: 12px 16px;
        font-size: 16px;
        line-height: 1;
        height: auto;
        margin-top: 20px;
    }

    .home-front-sec__cloud-wrapper {
        height: 76px;
    }

    .home-front-sec__cloud-wrapper {
        top: calc(100vh - 458px);
    }

    .home-front-sec__noti-wrapper {
        width: 100%;
        position: absolute;
        z-index: 30;
        left: 0;
        bottom: 300px;

        .home-front-sec-slide-mob__text-container {
            position: relative;
            display: flex;
            justify-content: center;
        }

        .tax-notification {
            position: absolute;
            margin-bottom: 0;
            bottom: 0;
        }
    }

    .tax-notification__subtitle {
        font-size: 12px;
    }

    .tax-notification__title {
        font-size: 12px;
    }

    .home-front-sec__noti-wrapper .tax-notification {
        padding: 10px;
    }

    .front-sec-v2-mob {
        min-height: 100vh;
        position: relative;
        background: #FAFAFA;
        overflow: hidden;

    }

    .front-sec-v2-mob__scroll-wrapper {
        position: relative;
        width: 100%;
        min-height: 100vh;
        // height: 300vh;
    }

    .home-front-sec__phone-ipad-cover {
        display: flex;
        justify-content: center;
    }

    .front-sec-v2-mob-text-wrapper {
        position: fixed;
        z-index: 30;
        top: calc(100vh);
        height: 375px;
        left: 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        padding-top: 75px;
        transition: all ease 0.5s;
    }

    .front-sec-v2-mob__activ {
        top: calc(100vh - 375px);
        transition: all ease 0.5s;
    }

    .front-sec-v2-mob__activ--no-anim {
        transition: none;
    }

    .front-sec-v2-mob-text-wrapper__text-wrapper {
        position: relative;
        height: 300px;
        background: #fff;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .front-sec-v2-mob-text-wrapper__move-line {
        position: absolute;
        transition: all ease 0.5s;
        top: 0;
        height: 600%;

    }

    .front-sec-v2-mob-text-wrapper__element {
        height: calc(100% / 6);
    }

    .front-sec-v2-mob__first-box-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 20;
        overflow: hidden;

        .home-front-sec-slide__wrapper {
            padding-top: 160px;
        }
    }

    .front-sec-v2__planet-img-wrapper {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        z-index: 1;
    }



    .front-sec-v2__planet-img {
        width: 820px;
        position: absolute;
        left: calc(50% - 410px);
        bottom: -230px;
        transition: all ease 0.3s;

    }


    .front-sec-v2__planet-img_show {
        transition: all ease 0.3s;
        bottom: 0;
    }

    .front-sec-v2-mob__iphone-height-window {
        height: 100vh;
        width: 100%;
        pointer-events: none;
        z-index: 0;
        left: 0;
        top: 0;
        position: absolute;
    }

    .anim-phones-wrapper {
        padding: 11px 14px;
    }

    .front-sec-slide__title-icon {
        width: 31px;

        img {
            margin-bottom: -6px;
        }
    }


    .home-front-sec__phone-wrapper {
        width: 100%;
        margin: 0 auto;
        left: 0
    }

    .front-sec-slide__btn-btn {
        opacity: 0;
        transform: translateY(30px);
        transition-delay: 0.7s;
    }

    .swiper-slide-active {
        .front-sec-slide__btn-btn {
            opacity: 1;
            transform: translateY(0);
        }
    }







    .phone-anim-element-v1__counter-wrapper {
        font-size: 20px;
        line-height: 20px;
        top: 53px;
    }

    .phone-anim-element-v1__counter-num-wrapper {
        height: 20px;
    }

    .home-front-sec__phone-camera {
        width: 80px;
        left: calc(50% - 40px);
    }

    .phone-anim-element-v1__tab-row-phone-3-header {
        top: 4px;
    }

    .phone-anim-element-v1__tab-row-phone-5-num-element {
        height: 17px;
    }

    .phone-anim-element-v1__tab-row-phone-5-num-container {
        height: 17px;
    }

    .phone-anim-element-v1__tab-row-phone-4-num-element {
        height: 17px;
    }

    .phone-anim-element-v1__tab-row-phone-4-num-container {
        height: 17px;
    }

    .tab-row-phone-5-num_V1 {
        top: 198px;
        left: 34px;
    }

    .tab-row-phone-5-num_V2 {
        top: 198px;
        left: 112px;
    }

    .tab-row-phone-4-num_V1 {
        top: 199px;
        left: 32px;
    }

    .tab-row-phone-4-num_V2 {
        top: 199px;
        left: 113px;
    }

    .tab-row-phone-4-num_V3 {
        top: 199px;
        left: 175px;
    }




}

@media only screen and (max-width: 750px) and (max-height: 780px) {
    // .video-test-autoplay-hiden {
    //     top: 60px;
    // }

    // .front-sec-slide-1 {
    //     .home-front-sec-slide__container {
    //         padding-top: 100px;
    //     }
    // }

    .home-front-sec__sun {
        right: -260px;
    }

    // .home-front-sec__phone {
    //     width: 240px;
    //     height: 489px;
    // }

    // .home-front-sec__phone-video-element {
    //     padding: 12px 14px;
    // }

    // .videoPhone0-img {
    //     border-radius: 29px;
    // }

    .home-front-sec__cloud-wrapper {
        top: calc(100vh - 417px);
        height: 63px;
    }

    // .front-sec-slide__title {
    //     font-size: 28px;
    // }

    // .front-sec-slide__text {
    //     font-size: 15px;
    //     margin-top: 10px;
    // }

    // .anim-phones-wrapper {
    //     padding: 8px 11px;
    // }


    // .anim-phones-slider {
    //     border-radius: 34px;
    // }
}







.front-sec-v2__planet-img-wrapper {
    pointer-events: none;
}

// .front-sec-v2__phone-main-wrapper {
//     z-index: 200;
//     pointer-events: all !important;
// }

// .home-front-sec__phone-wrapper {
//     z-index: 200;
//     pointer-events: all !important;
// }