.lang-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82px;
    height: 60px;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: rgba(255, 255, 255, 0);
        content: "";
        transition: all ease 0.3s;
    }

    &:hover {
        &::before {
            background: #4B5565;
            transition: all ease 0.3s;
        }
    }
}

.mob-meny__lang-list-element {
    color: #697586;
}

.lang-list__row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 16px;
}

.lang-list__drop-down-list {
    margin-left: 8px;
}

.lang-list__drop-down-list-element-active {
    color: #4B5565;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}



.lang-list__wrapper {
    position: absolute;
    padding-left: 44px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.lang-list__drop-down-list-fixed {

    background: #FFF;
    border-radius: 20px;
    width: 100%;
    padding: 7px;
    margin-top: 8px;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}

.lang-list__drop-down-list-element {
    color: #697586;
    padding: 9px 14px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
        padding-left: 20px;
        transition: all ease 0.3s;
    }
}

.lang-list__drop-down-list-element_current {
    color: #121926;
}

.lang-list__drop-down-list-fixed-wrapper {
    position: absolute;
    left: -0;
    top: calc(100%);
    width: 240px;
    padding-top: 0px;
    transition: all .3s ease;
    transform: translateY(0px);
    opacity: 1;

}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {

    transform: translateY(-30px);
    opacity: 0;

}

.slide-fade-leave-active {

    transform: translateY(-30px);
    transition: all .3s ease;
    opacity: 0;

}

.slide-fade-enter,
.slide-fade-leave-to

/* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateY(-30px);
    opacity: 0;

}

.lang-list__icon-wrapper {
    svg {
        display: block;
    }
}




@media only screen and (max-width: 1250px) {
    .mob-meny__lang-header_active {
        .amob-meny__lang-header-icon {
            transform: rotate(180deg);
        }
    }

    .amob-meny__lang-header-icon {
        transition: all ease 0.3s;
    }



    .mob-meny__lang-list {
        transform: translateY(0);
        opacity: 1;
        transition: all .3s ease;
    }

    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-toggle-enter-active {

        transform: translateY(-30px);
        max-height: 0;
        opacity: 0;

    }

    .slide-toggle-leave-active {

        transform: translateY(-30px);
        transition: all .3s ease;
        opacity: 0;

    }

    .slide-toggle-enter,
    .slide-toggle-leave-to

    /* .slide-fade-leave-active below version 2.1.8 */
        {
        transform: translateY(-30px);
        opacity: 0;

    }
}

@media only screen and (max-width: 750px) {}